img {
    height: 350px;
    padding-left: 15vh;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
}
.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logo_container{
    height: 30%;
    display: table;
    float: left;
}
.logo_container h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32ptx;
    font-weight: 200;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a:last child{
    padding-right: 0;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 16px;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation li{
    display: inline-block;
    margin-left: 70px;

    position: relative;
    
}

.navigation a{
    text-decoration: none;
    text-transform: uppercase;
    
}
.navigation a:hover {
    color: #000;
}

.navigation a::before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;

}

.navigation a:hover::before {
    width: 70%;
}

footer a {
	color: palevioletred;
	padding: 1em;
	text-align: center;
    text-align: center;
}

footer { 
    font-size: 1em;
    color: white;
	background-color: black;
 	text-align: center;
	margin-top: 10em;
	margin-left: -2em;
	margin-right: -2em;
	padding: -1em;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.section-1{
    padding-top: 10vh;
    text-align: left;
    padding-left: 10vh;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
    padding-left: 15vh;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
    padding-left: 15vh;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 25px;
}
/* section 2 */
.section-2{
    padding-top: 10vh;
    width: 150%;
    padding-left: 23vh;

}

.section-2 h2{
    font-size: 2.0rem;
    margin-bottom: 15px;
}

.section-2 p{
    font-size: 1.3rem;
    padding-bottom: 10px;
    margin:0;
}

.section-2 a{
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
}
/* animations / utilities */
.section-2 a:hover{
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}

/*Add css styling for dark mode*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
  --primary-bg-color: #eee;
  --secondary-bg-color: #fff;
  --primary-text-color: #666;
  --secondary-text-color: #999;
}

body.active {
  --primary-bg-color: #222;
  --secondary-bg-color: #333;
  --primary-text-color: #fff;
  --secondary-text-color: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  transition: all 0.2s linear;
}

body {
  background: var(--primary-bg-color);
}

.container {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container .content {
  width: 400px;
  background: var(--secondary-bg-color);
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .content p {
  line-height: 2;
  color: var(--primary-text-color);
}

#theme-toggler {
  position: fixed;
  top: 15px;
  right: 25px;
  padding: 15px 20px;
  font-size: 30px;
  background: var(--secondary-bg-color);
  color: var(--primary-text-color);
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
/*End of css styling for dark mode*/
